@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #fbfbf9;
}

body {
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Smooth scroll for hash links */
html {
  scroll-behavior: smooth;
}
